.login-form h2 {
  margin-bottom: 30px;
}
.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.login-form label {
  display: block;
  margin: 6px auto;
}
.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  margin-bottom: 30px;
}
.signup-link {
  margin-top: 16px;
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #8704a6;
}