/* navbar styles */
.navbar {
  width: 100%;
  background: #effaf0;
  padding: 20px 30px;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.navbar ul div {
  display: flex;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.6em;
  text-shadow: 1px 1px 0px #ff0000;
}
.nav-flex {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.navbar a {
  color: #8704a6;
  text-decoration: none;
}



/* --------------- MEDIA_QUERIES--------------- */

@media (max-width: 667px) {
  .navbar ul {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .title {
    margin: 0 0 16px;
  }
}
