.signup-form h2 {
  margin-bottom: 30px;
}
.signup-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.signup-form label {
  display: block;
  margin: 6px auto;
}
.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  margin-bottom: 30px;
}
.signup-form div {
  position: relative;
}
.showPassword {
  cursor: pointer;
  position: absolute;
  top: 23%;
  right: -5%;
  padding: 1rem;
}
.login-link {
  margin-top: 16px;
  display: block;
  font-size: 12px;
  text-decoration: none;
}